<!-- <nav>
    <ul id="navlink-container">
        <li><a class="navlink" href="../index.html">Home</a></li>
        <li><a class="navlink" href="../guides/manual.html">Manual</a></li>
        <li><a class="navlink" href="../guides/renewal.html">Renewal</a></li>
        <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Guides</a>
            <div class="dropdown-content">
            <a href="../guides/manual.html">Manual</a>
                <a href="../guides/renewal.html" class="dropbtn">Renewal</a>
                <div class="dropdown-content">
                    <a href="#timeline" class="w3-bar-item w3-button">Timeline & Resources</a>
                    <a href="#set-up" class="w3-bar-item w3-button">Order Set-Up</a>
                    <a href="#seats" class="w3-bar-item w3-button">Seats</a>
                    <a href="#requests" class="w3-bar-item w3-button">Special Requests</a>
                    <a href="#ada-subs" class="w3-bar-item w3-button">ADA Subscriptions</a>
                    <a href="#salem-subs" class="w3-bar-item w3-button">SALEM Subscriptions</a>
                    <a href="#add-ons" class="w3-bar-item w3-button">Add-Ons</a>
                    <a href="#virtual-concerts" class="w3-bar-item w3-button">Virtual Concerts</a>
                    <a href="#payments" class="w3-bar-item w3-button">Payments</a>
                </div>  
            </div>    
        </div>
        </li>
    </ul>
</nav> -->


<ul class="dropdown">
    <li>Home</li>
    <li>
        <div>Guides</div>
        <!-- First level sub dropdown -->
        <ul>
            <li>
                <div>Ticket Office Handbook</div>
                <!-- Second level sub dropdown -->
                <ul>
                    <li>Breadcrumb</li>
                    <li>Dropdown</li>
                    <li>Menu</li>
                    <li>Nested dropdown</li>
                </ul>
            </li>
            <li>
                <div><a href="href="../guides/renewal.html">Renewal</a></div>
                <!-- Second level sub dropdown -->
                <ul>
                    <li><a href="#timeline" class="w3-bar-item w3-button">Timeline & Resources</a></li>
                    <li><a href="#set-up" class="w3-bar-item w3-button">Order Set-Up</a></li>
                    <li><a href="#seats" class="w3-bar-item w3-button">Seats</a></li>
                    <li><a href="#requests" class="w3-bar-item w3-button">Special Requests</a></li>
                    <li><a href="#ada-subs" class="w3-bar-item w3-button">ADA Subscriptions</a></li>
                    <li><a href="#salem-subs" class="w3-bar-item w3-button">SALEM Subscriptions</a></li>
                    <li><a href="#add-ons" class="w3-bar-item w3-button">Add-Ons</a></li>
                    <li><a href="#virtual-concerts" class="w3-bar-item w3-button">Virtual Concerts</a></li>
                    <li></li><a href="#payments" class="w3-bar-item w3-button">Payments</a>
                </ul>
            </li>
        </ul>
    </li>
    <li>Resources</li>
    <li>Calendar</li>
</ul>