<nav>
    <ul id="navlink-container">
        <li><a class="navlink" href="../index.html">Home</a></li>
        <li><a class="navlink" href="../guides/manual.html">Manual</a></li>
        <li><a class="navlink" href="../guides/renewal.html">Renewal</a></li>
        <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Guides</a>
        <div class="dropdown-content">
            <a href="../guides/manual.html">Manual</a>
            <a href="../guides/renewal.html" class="dropbtn">Renewal</a>
                <div class="dropdown-content">
                    <a href="#timeline" class="w3-bar-item w3-button">Timeline & Resources</a>
                    <a href=</div>"/renewal-source.html" target="#set-up" class="w3-bar-item w3-button">Order Set-Up</a>
                    <a href="/renewal-source.html" target="#seats" class="w3-bar-item w3-button">Seats</a>
                    <a href="/renewal-source.html" target="#requests" class="w3-bar-item w3-button">Special Requests</a>
                    <a href="/renewal-source.html" target="#ada-subs" class="w3-bar-item w3-button">ADA Subscriptions</a>
                    <a href="/renewal-source.html" target="#salem-subs" class="w3-bar-item w3-button">SALEM Subscriptions</a>
                    <a href="/renewal-source.html" target="#add-ons" class="w3-bar-item w3-button">Add-Ons</a>
                    <a href="/renewal-source.html" target="#virtual-concerts" class="w3-bar-item w3-button">Virtual Concerts</a>
                    <a href="../guides/renewal.html" target="#payments" class="w3-bar-item w3-button">Payments</a>
                </div>       
        </div>
        </li>
    </ul>
</nav>