<nav>
    <ul id="navlink-container">
        <li><a class="navlink" href="../index.html">Home</a></li>
        <li><a class="navlink" href="../guides/manual.html">Manual</a></li>
        <li><a class="navlink" href="../guides/renewal.html">Renewal</a></li>
        <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Guides</a>
        <div class="dropdown-content">
            <a href="../guides/manual.html">Manual</a>
            <a href="../guides/renewal.html" class="dropbtn">Renewal</a>
                <div class="dropdown-content">
                    <a 
                </div>       
        </div>
        </li>
    </ul>
</nav>