<!DOCTYPE html>
<html>
<head>
  <title>Renewal Training Guide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/renewal-styles.css">
  <script defer type="text/javascript" src="./src/index.js"></script>
</head>
<body>
<div id="main">
<div class="rainbow-gradient">
  <div class="w3-container style="clear:right;">
    <h1>Renewal Training Guide</h1>
  </div>
</div>
<div class="w3-container box">
<div class="grid-container">
  <div class="grid-item" id="timeline">
    <table >
    <h3>Timeline of Important Events</h3>
      <tr>
        <th>Date</th>
        <th>Event</th>
      </tr>
      <tr>
        <td>3/10/2022</td>
        <td>Season Launch</td>
      </tr>
      <tr>
        <td>3/11/2022</td>
        <td>Season Launch Event</td>
      </tr>
      <tr>
        <td>3/10-3/12</td>
        <td>Brochure hits mailboxes</td>
      </tr>
      <tr>
        <td><b>4/4/2022</b></td>
        <td><b>Earlybird Renewal Deadline</b></td>
      </tr>
      <tr>
        <td><b>4/25/2022</b></td>
        <td><b>Final Renewal Deadline</b></td>
      </tr>
      <tr>
        <td>5/2/2022</td>
        <td>Reprieve/Final Hard Renewal Deadline</td>
      </tr>
      <tr>
        <td><b>5/4/2022</b></td>
        <td><b>Seat release</b></td>
      </tr>
      <tr>
        <td>5/5 - 5/18</td>
        <td>The Reseating</td>
      </tr>
      <tr>
        <td><b>5/23/2022</b></td>
        <td><b>Last day for 1/2 payments</b></td>
      </tr>
      <tr>
        <td>5/30/2022</td>
        <td>Seating confirmations mailed</td>
      </tr>
      <tr>
        <td><b>6/15/2022</b></td>
        <td><b>CYO On Sale</b></td>
      </tr>
      <tr>
        <td>6/29/2022</td>
        <td>Second payments charged</td>
      </tr>
      <tr>
        <td>6/30 - 7/14</td>
        <td>Printing tickets</td>
      </tr>
      <tr>
        <td><b>7/21/2022</b></td>
        <td><b>Subscription packets mailed</b></td>
      </tr>
      <tr>
        <td><b>8/4/2022</b></td>
        <td><b>Single tickets on sale</b></td>
      </tr>
      <tr>
        <td>9/17/2022</td>
        <td>First Concert of the 2022/23 Season!</td>
      </tr>
    </table>
  </div>
  <div class="grid-item">
    <h3>Source Codes</h3>
    <table>
      <th><b>Portland</b></th>
      <th><b>Salem</b></th>
      <tr>
        <td><b>MOS:</b>22/23 Subscription</td>
        <td><b>MOS:</b>22/23 Subscription</td>
      </tr>
      <tr>
        <td><b>Renewal Source:</b> 14864</td>
        <td><b>Renewal Source:</b> 14865</td>
      </tr>
    </table>
    <h3>New things for the 2022/23 Season</h3>
    <ul>
      <li><u>Classical Saturday Evenings</u> are more expensive for subscriptions and single tickets</li>
      <li>Add-ons can now be on Pops, Classical, or Popcorn Price Maps</li>
      <li>One less Gospel Christmas – No Friday</li>
      <li>Condensed renewal timeline from the pas
        <ul>
          <li>Early Bird window is shorter</li>
          <li>Second payments due 6/29</li>
          <li>Tickets mailed earlier</li>
          <li>Sub Exchange period earlier</li>
          <li>STBs on sale earlier</li>
        </ul>
      <li>CYO on sale June 15</li>
      </li>
    </ul>
  </div>
  <div class="grid-item">
    <h3>Resources</h3>
    <ul>
      <li><a href="../assets/pdf/season-brochure.pdf" target="_blank">Season Brochure</a></li>
      <li><a href="../assets/pdf/portland-acquisition-letter.pdf" target="_blank">Portland Aquisition Letter</a></li>
      <li><a href="../assets/pdf/portland-renewal-letter.pdf" target="_blank">Portland Renewal Letter</a></li>
      <li><a href="../assets/pdf/order-form.pdf" target="_blank">Order Form</a></li>
      <li><a href="../assets/pdf/salem-renewal-letter.pdf" target="_blank">Salem Renewal Letter</a></li>
      <li><a href="../assets/pdf/salem-season-brochure.pdf" target="_blank">Salem Season Brochure</a></li>
      <li><a href="../assets/pdf/kids-seat-map.pdf" target="_blank">Kids Seat Map</a></li>
      <li><a href="../assets/pdf/popcorn-seat-map.pdf" target="_blank">Popcorn Seat Map</a></li>
      <li><a href="../assets/pdf/pop-special-seat-map.pdf" target="_blank">Pop/Specials Seat Map</a></li>
      <li><a href="../assets/pdf/classical-seat-map.pdf" target="_blank">Classical Seat Map</a></li>
    </ul>
  </div>
</div>
<div class="w3-container">
<h2 id="set-up">Setting Up a Portland Renewal Order</h2>
<ol>
  <li>Every patron who has a fixed seat subscription – any subscription that is not a CYO – will have an order on their account with the MOS “TNEW Subscription” Find that order and open it up.</li>
  <li>Change the <b>MOS</b> to “22/23 Subscription” and the <b>source code</b> to 14864</li>
  <li>Manually enter the order date – it is incredibly important that you set the date to the day the order is taken.</li>
  <figure>
    <img src="../assets/image/example-1.jpg" alt="Start like this" class="example-1">
    <figcaption>Start Like This</figcaption>
  </figure>
  <figure>
    <img src="../assets/image/example-2.jpg" alt="End like this" class="example-2">
    <figcaption>End Like This</figcaption>
  </figure>
  <li>If they do not pay or do not complete the order for any reason do not save any of the changes you have made – hit cancel and back on out of there. We only want the date locked in if they make a payment.</li>
  <li>If they cancel their subscription, <b>leave the rollover order</b> as it is and create a <b>CSI</b>. Fill out the contact method, <u>Category:</u> Subscription Campaign, <u>Activity Type:</u> Subscription Cancellation, <u>Origin:</u> choose the closest reason, select the <u>Season:</u> 2022/23, <u>Package:</u> whatever they are dropping. Elaborate the reason in the <u>Notes</u> field. We want to know if they cancel for COVID, pricing, programming, scary downtown, parking, annoying people sitting next to them – whatever they have to say.</li>
    <img src="../assets/image/example-3.jpg" alt="create CSI" class="example-3">
</ol>
<h2 id="seats">Seats</h2>
<ol>
  <li>If they want to keep their same seats and same package, lucky you, you do not have to do anything!</li>
  <li><b>Do not seat Classical, Pops, Kids, or Popcorn Add-Ons,</b> make a <b>Special Request</b> for their seating request</li>
  <li>If they want to change seats or series they sure can, but it is a bit complicated. Here is the deal: 
    <ul>
      <li>If they are vacating nice seats – aisles, first row, dress, any prime area – let a manager know so we can put holds on them for reseating</li>
      <li>If you see amazing seats open on the map with no holds, let a manager know so we can, again, put holds on them for reseating – please do not use them!</li>
      <li>Once they move seats that is it – their old seats are gone, and it is unlikely they will get them back so make it incredibly clear that is absolutely what they want to do</li>
      <li>If they change seats/series leave a dated note on the order like so; “3/15/22 switched CLSUNB low mezz to PopsSUN Orch T6” or “3/28/22 gave up Dress B, A, seats 1,2 for Mezz C, J, 9,10”</li>
      <li>If the seats they want are open and white, you can seat them right now!</li>
      <li>If the seats they want are not available, you are going to make a <b>SPECIAL REQUEST</b></li>
    </ul>
  </li>
</ol>
<h2 id="requests">Special Requests/Seating Requests</h2>
<p>
  <b>WARNING:</b> our patrons are very particular when it comes to their seats. A bad seating request can have huge repercussions later and bring much crankiness down on us all season long. Make sure you understand what the patron wants, be as clear in your request as possible, and make sure the patron understands what you are requesting for them and what will happen if they do not get their requested seats. Scared? <b>YOU SHOULD BE.</b>
</p>
<ol>
  <li>Click their sub package to highlight it. At the bottom of the order screen click the buttons “Spec Req”</li>
  <img src="../assets/image/example-4.jpg" alt="Special requests" class="example-4">
  <li>This brings up the Special Request box. You do not need to worry about anything but the Notes open end box:</li>
  <img src="../assets/image/example-5.jpg" alt="Special requests box" class="example-5">
  <li> Here is the required information for Special Requests
    <ul>
      <li>Date of the request</li>
      <li>Buddy’s Tess ID if they sit with a buddy – add the same Special Request to the buddy’s account in case we get to their order first (unless the buddy has not renewed yet)</li>
      <li>Desired seats ordered by 1st choice, 2nd choice, etc.</li>
      <li>Each request needs the Seating Area/ Section, Tier, Row, and Seat Number (Orch A, T4, LowMez B Gold, LowBalC, T3, etc.)</li>
      <li>If they want an aisle, need ADA seats, cannot do stairs, etc. include that in the request.</li>
      <li>End the request with either KEEP SAME or BEST AVAILABLE. This is used if we are not able to fulfill any of their other requests.
        <ul>
          <li>Keep same – we will not move them from the seats you put them in.</li>
          <li>Best available – we will move them into the best open seats in their area regardless of aisle, row, seat requests, etc.</li>
        </ul>
      </li>
      <li>Got it all? Did you reread it to see if it will make sense in 3 months? Does the patron understand what will happen with their seats? ARE YOU SURE?! Yeah, you are? All right, hit OK and that will save the Special Request.</li>
      <li>A few things to keep in mind:
        <ul>
          <li>We <b>WILL NOT</b> call anyone regarding reseating while we are doing reseating</li>
          <li>We will not send email confirmations after reseating – they will get that with their confirmation letter in May</li>
          <li>Do not leave seat requests in the order notes – we will not see them</li>
          <li>Do not promise anyone specific seats – the Schnitz is not all aisles despite what patrons may think</li>
        </ul>
      </li>
    </ul>
  </li>
</ol>
<p>
All right so we have their renewal, and we have their seating for their subscription pinned down but wait! Now we want to talk to them about concerts they want to add to their subscription. 
</p>
<h2 id="ada-subs">ADA Subscriptions</h2>
<p>
  If the patron is sitting in the Front Orchestra Side A or D ADA seats, they need to be set up with a kill seat, so we have room to accommodate a mobility device like a wheelchair, scooter, etc. Here is what a broken ADA subscription looks like: 
</p>
<img src="../assets/image/example-6.jpg" alt="broken ADA subscription" class="example-6">
<p>
  See how the price type and zone say “mixed” – we never want to see that on any order but on an ADA subscription order, it means they will not get the seat pulled for their wheelchair. Here is what it should look like: 
</p>
<img src="../assets/image/example-7.jpg" alt="correct ADA subscription" class="example-7">
<p>
  This is how you should reserve an ADA Subscription in the Front Orchestra:
</p>
<img src="../assets/image/example-8.jpg" alt="Front Orchestra ADA Seating" class="example-8">
<p>
  Once you finish their order you need to go to their general account, click tab “connections,” click “reminders” and add an ADA Pull reminder for every single concert in their package. 
</p>
<p>
  If the patron is seated in the ADA seats in the Rear Orchestra or Dress Circle, you <b>do not</b> have to do anything different, please go on with your life! 
</p>
<h2 id="salem-subs">SALEM Subscriptions</h2>
<p>
  Salem has three packages: 3 concert Series A, a 3 concert Series B or a 6 concert Full. 
</p>
<p>
  Concerts are held on Fridays in Smith Auditorium on the Willamette University campus. The hall is different from the Schnitz. 
</p>
<img src="../assets/image/example-9.jpg" alt="Salem Subscriptions" class="example-9">
<p>
  There are only 3 price zones: 
</p>
<img src="../assets/image/example-10.jpg" alt="Price Zones" class="example-10">
<p>
  We handle Salem renewals exactly like we handle Portland renewals, but they have a separate Salem Renewal source code: 
</p>
<table>
  <th><b>Salem</b></th>
  <tr>
    <td><b>MOS:</b>22/23 Subscription</td>
  </tr>
  <tr>
    <td><b> Source:</b> 14865</td>
  </tr>
</table>
<p>
  Three things to keep your eye on for Smith Auditorium and Salem Subscriptions: Zone, Section, and Seat Numbers. The Zone will tell you the price tier they sit in, and the Section will tell you the area of the hall.  
</p>
<img src="../assets/image/example-11.jpg" alt="Zone, Section, Seat Numbers" class="example-11">
<p>
  The Seat Numbers in Smith are confusing. Sections 2, 3, 5, 6, 8 and 9 run right starting at seat 1, to left. But sections 1, 4, and 7 run left to right.  
</p>
<p>
  Salem Subscribers have similar benefits to Portland subscribers: 
  <ol>
    <li>10% off any Add-on concerts both in Salem and Portland</li>
    <li>Free exchanges between Salem performances </li>
    <li>The first exchange into a Portland series concert is free. After that, they will need to pay the difference</li>
    <li>Try to seat them as close to their Salem counterpart as possible </li>
  </ol>
</p>
<h2 id="add-ons">Add-Ons</h2>
<ul>
  <ul>
    <li><b>Specials/Presentations</b></li>
    <ul>
      <li><b>Seat</b> all Specials/Presentations</li>
      <li>Add tickets at 10% subscriber discount </li>
    </ul>
    <li><b>Individual Series concerts</b></li>
    <ul>
      <li><b>Do not seat</b> individual concerts that are part of a series – Managers will do this after reseating entire subscriptions </li>
      <li>Add tickets at concert at 10% subscriber discount </li>
      <li>Even though you cannot seat Series add-ons, make sure you choose the tier they want so the correct price populates </li>
    </ul>
  <li><b>Complimentary Ticket Vouchers</b></li> 
    <ul>
      <li>Add and <b>seat</b> one comp voucher for each Classical, Pops, Popcorn, or Kids subscription seat </li>
      <li>We <u><b>cannot</b></u> redeem comp vouchers until patrons get their sub packages in the mail </li>
    </ul>
  <li><b>Exchanges: NOPE.</b> We cannot do any exchanging until tickets are mailed out in July and in the subscribers grasping paws </li>
</ul>
<h2 id="virtual-concerts">Virtual Concerts</h2>
<table>
  <tr>
    <td><b>MOS:</b></td>
    <td>Ticket</td>
  </tr>
  <tr>
    <td><b>Source</b></td>
    <td>How they heard about the Virtual Concert</td>
  </tr>
  <tr>
    <td><b>Delivery Method:</b></td>
    <td>Will Call</td>
  </tr>
  <tr>
    <td><b>Category:</b></td>
    <td>How they contacted us</td>
  </tr>
</table>
<table>
  <th><b>Price Types:</b></th>
  <tr>
    <td>1-2 Concerts VStan</td>
    <td>$14.99</td>
  </tr>
  <tr>
    <td>3-5 Concerts VDisc1</td>
    <td>$13.00</td>
  </tr>
  <tr>
    <td>6 Concerts</td>
    <td>$11.50</td>
  </tr>
</table>
<img src="../assets/image/example-12.jpg" alt="Price Types for Virtual Concerts" class="example-12">
<p>
  <b>DO NOT SEAT!!!!</b>
</p>
<figure>
  <img src="../assets/image/example-13.jpg" alt="Email Receipt for Virtual Concerts" class="example-13">
  <figcaption>There is a special email receipt for Virtual Concerts</figcaption>
</figure>
<h2 id="payments">Payments</h2>
<ul>
  <li>If the patron is not ready to pay right now, <b>hit cancel</b> and back it up, so it reverts to the original rollover order.  We do not hold unpaid orders </li>
  <li>The patron can use their 22 Season Credit to pay for part or all their subscription </li>
  <li>We accept credit card payments over the phone, via the website, in person, and mail </li>
  <li>We accept FULL payments ONLY by check in person and mail </li>
  <li>We accept FULL cash payments in person </li>
  <li>We accept half payments until May 23rd </li>
  <li>The second half is due June 29th </li>
</ul>
<h3>Full Payment</h3>
<p>
  Now it is time to process payment for the renewal.  If the patron is paying in full, it is just like pricessing a payment on any other ticket order. 
</p>
<ol>
  <li>Confirm package, seat number and location or seating request, and add-on concerts </li>
  <li>Confirm the patron would like to pay the full amount today </li>
    <ul>
      <li>Is it in the Early Bird Renewal time?</li>
      <ul>
        <li>Did you waive the fees and add comps?</li>
      </ul>
    </ul>
  <li>Go to Money Bags (Ctrl+p) confirm yet again that the patron is paying $XYZ for tickets and $ABC for donation for a grand total $XXX </li>
  <li>Take full payment plus donation </li>
  <li>There should now be a -$ABC for the donation you took </li>
  <li>Pay that to donations </li>
  <li>Hit ok <b>NOT Finish</b> </li>
  <li>Add a note to the FRONT of the order notes line “Date $ABC Donation Credit Card – last 4 (or check#) your initials;” so it would look like this “3/10/22 $100 Donation Visa –0666 EJ;" </li>
  <li>Tell the Patron they are fully renewed, thank them for their generous donation </li>
  <li>HIT DONE! </li>
</ol>
<h3>Full Payment and Donation</h3>
<p>
  If the patron would also like to donate on top of their full subscription payment, the process is like taking a full payment with a few extra steps: 
</p>
<ol>
  <li>Confirm package, seat number and location or seating request, add-on concerts, and Donation amount /li>
  <li>Break out the calculator and add their renewal total and donation amount </li>
  <li>Confirm the patron would like to pay the full amount with a donation today </li>
    <ul>
      <li>Is it in the Early Bird Renewal time?</li>
      <ul>
        <li>Did you waive the fe3es and add comps?</li>
      </ul>
    </ul>
  <li>Go to Money Bags (Ctrl+p) confirm yet again that the patron is paying $XYZ for tickets and $ABC for donation for a grand total $XXX </li>
  <li>Take full payment plus donation </li>
  <li>There should now be a -$ABC for the donation you took </li>
  <li>Pay that to donations </li>
  <li>Hit ok <b>NOT</b> Finish </li>
  <li>Add a note to the FRONT of the order notes line. The type of note will depend on where they would like their donation to go: General Fund “Date, GF donation, $XXX your initials;” it would look like “03/10/2022, GF Donation, $100, EJ;” Gala Donation “Date, Gala Gift, $XXX, your initials;” it would look like “03/10/2022 Gala Gift, $100, EJ;”</li>
  <li>Tell the Patron they are fully renewed, thank them for their generous donation </li>
  <li>HIT DONE!</li>
</ol>
<h3>Paying with a 22 Season Credit</h3>
<p>
  If someone still has their 21/22 Season Credit, they can use that to pay for the 2022/23 season. 
</p>
<ol>
  <li>First, go in to their 2021/22 order.  Take note of the amount of the credit </li>
  <li>Return the credit so there is a negative balance </li>
  <li>Pay the balance off to On Account </li>
  <li>Done out of the 2021/22 order </li>
  <li>Open their 2022/23 order, set it up as stated in the “Setting Up a Portland Renewal” section </li>
  <li>Open up the payment screen and type in the amount of the 21/22 Season Credit  </li>
  <li>Pay it off with the On Account payment method </li>
  <li>Hit ok </li>
  <li>Open the payment screen again and pay off the remainder of the order in any of the other ways mentioned above  </li>
</ol>
<h3>Half Payment Set Up</h3>
<ol>
  <li>First you want to charge them half the total subscription payment. You will have to manually enter half the amount in the payment window, so dust off your basic math skills/have a calculator pulled up. If half the price breaks down to .50, round it up to the nearest dollar.  </li>
  <li>The remaining balance will be automatically charged to their debit/credit card at the end of June.  </li>
  <ul>
    <li>If we do not get that second half payment by June 29th, we will not be able to print their subscriptions, we will not be able to mail their tickets to them, they will not get them in time for the subscriber exchange week, and they will miss out on the best seats before they go on sale to the public. It is in their best interest to pay by July 8th!  </li>
  </ul>
  <li>To set up the second half of the payment after you have charged the first half click here: </li>
  <img src="../assets/image/example-14.jpg" alt="Half Payment Set-Up 1" class="example-14">
  <li>That brings up the Order Payment Schedule window. Ignore the Beginning and Ending dates as well as the Billing Schedule dropdown. Type “2” in the # of payments field and hit the “Schedule” button:  </li>
  <img src="../assets/image/example-15.jpg" alt="Half Payment Set-Up 2" class="example-15">
  <li>To have their card automatically charged on June 29th select “Credit Card Billing” on that dropdown </li>
  <li>Finally, select the card to charge under the “account” chiclet – just like we do to take a normal payment: </li>
  <img src="../assets/image/example-16.jpg" alt="Half Payment Set-Up 3" class="example-16">
  <li>If the card they use to pay for the first half of their subscription is going to expire before July 8th, the patron will need to contact us to update their card. </li>
</ol>
<h3>Half Payment with a Donation</h3>
<p>
  Ah, now things are getting tricky.  We’ve got a patron who would like to donate but they would like to split the payment.
</p>
<ol>
  <li>Add the ticket total plus the donation to get the grand total </li>
  <li>Split that total into two half payments.  Please round to the nearest full dollar amount </li>
  <li>Charge the half payment and hit OK </li>
  <li>Go back into the payment window and manually enter the donation amount as a negative number   </li>
  <li>Pay that negative amount off to Donations </li>
  <li>Add a note to the FRONT of the order notes line “Date $ABC Donation Credit Card – last 4 (or check #) your initials;” so it would look like this “3/10/22 $100 Donation Visa –0666 EJ;" </li>
  <li>Set up the second half payment following steps 3-6 above</li>
</ol>
<h2 id="confirmation">Confirmation Email/DO NOT PRINT</h2>
<p>
  OK, you have done everything, the patron is happy, and the subscription is paid for – or half paid for. Now you want to send them and email confirmation, but you <b>DO NOT</b> want to <b>PRINT</b> the subscription tickets. GREAT NEWS, both options are in the same window! How convenient!
</p>
<img src="../assets/image/example-17.jpg" alt="Confirmation Email Screen" class="example-17">
<p>
  Here is how NOT TO print tickets:
</p>
<ol>
  <li>Uncheck tickets</li>
  <li>Uncheck header</li>
  <li>Check the Acknowledgement box and select the “Email Renewed Sub” email </li>
  <li>Hit ok</li>
  <li>Listen for the terrifying sound of tickets printing</li>
  <li>Did it print?! If so, hang your head in shame and bring the printed tickets over to Emily </li>
  <li>Did it not print? Fantastic! Now just try not to print any for the next 1,000 orders </li>
</ol>

</div>

</div>

</body>
</html>